ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-40%, -40%);
}

li a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

h2 {
    text-align: center;
    position: relative;
    top: 100px;
}